* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

body {
    background-color: #fefefe;
}

h2 {
    color: #fefefe;

    &:hover {
        cursor: pointer;
    }
}

header {
    background-color: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

nav ul {
    display: flex;
    transition: 0.2s;

}

nav ul li {
    margin: 0px 6px;
    list-style: none;
    color: #fefefe;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 20px;
    transition: .2s ease-in;

    &:hover {
        cursor: pointer;
        background-color: #fefefe;
        color: #11101b;
    }
}

.togicon {
    display: none;
}

.togicon .line {
    height: 3px;
    width: 30px;
    margin: 6px 0;
    background-color: #fefefe;
}

.activee {
    background-color: #fefefe;
    color: #11101b;
}

@media screen and (max-width:900px) {


    .togicon {
        display: block;
        position: absolute;
        right: 40px;
        transition: .3s ease-in;

        &:hover {
            cursor: pointer;
        }
    }

    header {
        padding: 10px 50px;
    }

    .navbar {
        display: none;
        position: absolute;

        top: 48px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #11101b;
        opacity: 0;
        overflow: hidden;
        transition: .3s ease-in;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 100px auto 0 auto;
        text-align: center;
        transition: .5s ease-out;
    }

    nav ul li {
        margin: 10px 0;
        transition: .2s ease-in;

    }

    .navbar.active {
        display: block;
        overflow: visible;
        position: absolute;
        height: 450px;
        opacity: 1;
        top: 48px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #11101b;
        transition: .3s ease-in;

    }

}